.zagolov {font-size: 35px;
    color: red;}
.osnova1 {font-size: 25px; 
    color: aquamarine;}
.osnova2{font-size: 30px;
    color: forestgreen}
.osnzagolov 
{text-align: center;
    color:deepskyblue;
    font-size: 10px;
}